
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{$title}</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <style>
  * {
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 100%;
  }
  html,
  body {
    background-color: #fff;
  }
  .adv-img {
    padding-bottom: 13px;
  }
  .adv-img img {
    display: block;
    max-width: 100%;
  }
  .adv-title {
    font-size: 34px;
    line-height: 48px;
    text-align: center;
  }
  .adv-content {
    padding-left: 30px;
    padding-right: 30px;
  }
  </style>
</head>
<body>
  <div class="container">
    <!-- 图片位置 -->
    <?php if($img){?>
    <div class="adv-img">
      <img src="http://ozg3kv9uz.bkt.clouddn.com/<?php echo $img;?>" alt="">
    </div>
    <?php }?>
    <div class="adv-title">{$title}</div>
    <div class="adv-content">
      <!-- 富文本内容放这里 开始 -->
      {$desc}
      <!-- 富文本内容放这里 结束 -->
    </div>
  </div>
</body>
</html>
