<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
        
        
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form" id="form" method="post" action="{:U('update')}">
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name"> 您的手机号 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="mobile" id="mobile" placeholder="您的手机号"
                                           class="col-xs-10 col-sm-5" value="">
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">您的手机号。</span>
											</span>
                                </div>
                            </div>
                            
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name"> 验证码 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="captche" id="captche" placeholder="验证码"
                                           class="col-xs-10 col-sm-4" value="">
                                           <div class="btn btn-info" id="getCatpche">获取验证码</div>
                                </div>
                            </div>
                            
			                <div class="space-4"></div>
			                <div class="form-group">
			                    <label class="col-sm-1 control-label no-padding-right" for="o"> 新密码 </label>
			                    <div class="col-sm-9">
			                        <input type="password" name="new_pwd" id="new_pwd" placeholder="新密码" class="col-xs-10 col-sm-5"
			                               value="">
			                        <span class="help-inline col-xs-12 col-sm-7">
															<span class="middle"></span>
														</span>
			                    </div>
			                </div>
			                <div class="space-4"></div>
			                <div class="form-group">
			                    <label class="col-sm-1 control-label no-padding-right" for="o"> 新密码确认 </label>
			                    <div class="col-sm-9">
			                        <input type="password" name="new_pwd_2" id="new_pwd_2" placeholder="新密码确认" class="col-xs-10 col-sm-5"
			                               value="">
			                        <span class="help-inline col-xs-12 col-sm-7">
															<span id="pwd_content_error" class="middle"></span>
														</span>
			                    </div>
			                </div>

                <div class="col-md-offset-2 col-md-9">
                    <button class="btn btn-info submit" type="button">
                        <i class="icon-ok bigger-110"></i>
                        提交
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="icon-undo bigger-110"></i>
                        重置
                    </button>
                </div>
                </form>
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>
</div><!-- /.main-content -->
<include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $(function () {
        var editor = KindEditor.create('textarea[name="content"]', {
            uploadJson: '__PUBLIC__/kindeditor/php/upload_json.php',
            fileManagerJson: '__PUBLIC__/kindeditor/php/file_manager_json.php',
            allowFileManager: true,
            afterBlur: function () {
                this.sync();
            }
        });
        
        var countdown=120; 
        function settime(val) { 
	        if (countdown == 0) { 
		        $("#"+val).html("获取验证码");
		        countdown = 120; 
	        } else { 
		        /* val.setAttribute("disabled", true); 
		        val.value="重新发送(" + countdown + ")";  */
		        $("#"+val).html("重新发送(" + countdown + ")");
		        countdown--; 
	        } 
	        setTimeout(function() { 
	        	settime(val) 
	        },1000) 
        } 
        
        $("#getCatpche").click(function () {
        	if(countdown!=120){
        		return false;
        	}
        	var mobile = $("#mobile").val();
        	if(mobile == ''){
        		bootbox.dialog({
                    message: "请传入您的手机号码。",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return false;
        	}
        	$.post("{:U('Mobile/getCode')}",{mobile:mobile}, function (result) {
                if (result.status == 1) {
                	settime("getCatpche");
                    bootbox.alert({
                        buttons: {
                            ok: {
                                label: '确定',
                                className: 'btn-myStyle'
                            }
                        },
                        message: '验证码发送成功。',
                        title: "提示信息",
                    });
                    return;
                } else {
                    bootbox.dialog({
                        message: result.info,
                        buttons: {
                            "success": {
                                "label": "确定",
                                "className": "btn-danger"
                            }
                        }
                    });
                    return;
                }
            }, "json");
        });
        $(".btn.btn-info.submit").click(function () {
            var pwd1 = $("#new_pwd").val();
            var pwd2 = $("#new_pwd_2").val();
            var mobile = $("#mobile").val();
            if(mobile == ''){
        		bootbox.dialog({
                    message: "请传入您的手机号码。",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return false;
        	}
            
            var captche = $("#captche").val();
            if(captche == ''){
        		bootbox.dialog({
                    message: "请传入您的验证码。",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return false;
        	}
            
            if (pwd1 !=pwd2) {
                bootbox.dialog({
                    message: "两次密码不一致。",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return false;
            }
            
            
            $.post("{:U('update')}",$("#form").serialize(), function (result) {
                if (result.status == 1) {
                    bootbox.alert({
                        buttons: {
                            ok: {
                                label: '确定',
                                className: 'btn-myStyle',
                                
                            }
                        },
                        message: '修改密码成功。',
                        title: "提示信息",
                        callback: function () {  
                            window.location.href="{:U("Index/index")}";  
                        } 
                    });
                    return false;
                } else {
                    bootbox.dialog({
                        message: result.info,
                        buttons: {
                            "success": {
                                "label": "确定",
                                "className": "btn-danger"
                            }
                        }
                    });
                    return false;
                }
            }, "json");
            
            return false;

        })
    })
</script>
</body>
</html>
