<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
        function sort_up(){
        	var start_num = 1;
        	$("h4").each(function(){  
                $(this).html("第"+start_num+"日");  
                start_num++;
            });  
        }
        
        
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs" />

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">

                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="cf">
                                <a class="btn btn-info" onclick="html_plus('day',0)" value="">新增行程</a>
                        </div>
                        <div class="space-4"></div>
									
						<form id="route_form" class="form-horizontal">
							<input type="hidden" name="route_id" id="route_id" value="{$info.route_id}">
							<div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name"> 路线名称 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="route_name" id="route_name" placeholder="路线名称"
                                           class="col-xs-10 col-sm-5" value="{$info.route_name}">
                                    <span class="help-inline col-xs-10 col-sm-5">
												<span class="middle">路线名称，不能为空。</span>
											</span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 是否上线 </label>
                                <div class="control-label no-padding-left col-sm-1">
                                    <label>
                                        <input name="route_status" id="route_status"
                                        <if condition="$info.route_status eq 1">checked="checked"</if>
                                        value="1" class="ace ace-switch ace-switch-2" type="checkbox" />
                                        <span class="lbl"></span>
                                    </label>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
										</span>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
								<label class="col-sm-1 control-label no-padding-right">景点分类：</label>
								<div class="col-sm-9 error-tips">
								<volist name="category" id="val">
									<label>
										<input type="checkbox" id="cid_id" name="cid_id[]" value="{$val.cid_id}" 
									<if condition="$infoCid[$val['cid_id']] eq 1">checked="checked"</if> class="ace" />
										<span class="lbl"> {$val.cid_name}</span>
									</label>
								</volist>
								</div>
							</div>
							<div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    路线简介 </label>
                                <div class="col-sm-10">
                                        <input type="text" name="route_intro" id="route_intro" placeholder="路线简介"
                                           class="col-xs-10 col-sm-5" value="{$info.route_intro}">
                                </div>
                            </div>
							<div class="space-6"></div>
							<div id="form_all" class="space-6"></div>
							<div>
			                    <button class="btn btn-info submit" onclick="route_form()" type="button">
			                        <i class="icon-ok bigger-110"></i>
			                        提交
			                    </button>
	                    	</div>
	                    	
						</form>
						
                </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script type="text/javascript">
/* jQuery(function($) { */
	
	$('#simple-colorpicker-1').ace_colorpicker({pull_right:true}).on('change', function(){
		var color_class = $(this).find('option:selected').data('class');
		var new_class = 'widget-box';
		if(color_class != 'default')  new_class += ' widget-color-'+color_class;
		$(this).closest('.widget-box').attr('class', new_class);
	});


	// scrollables
	$('.scrollable').each(function () {
		var $this = $(this);
		$(this).ace_scroll({
			size: $this.attr('data-size') || 100,
			//styleClass: 'scroll-left scroll-margin scroll-thin scroll-dark scroll-light no-track scroll-visible'
		});
	});
	$('.scrollable-horizontal').each(function () {
		var $this = $(this);
		$(this).ace_scroll(
		  {
			horizontal: true,
			styleClass: 'scroll-top',//show the scrollbars on top(default is bottom)
			size: $this.attr('data-size') || 500,
			mouseWheelLock: true
		  }
		).css({'padding-top': 12});
	});
	
	$(window).on('resize.scroll_reset', function() {
		$('.scrollable-horizontal').ace_scroll('reset');
	});

	
	$('#id-checkbox-vertical').prop('checked', false).on('click', function() {
		$('#widget-toolbox-1').toggleClass('toolbox-vertical')
		.find('.btn-group').toggleClass('btn-group-vertical')
		.filter(':first').toggleClass('hidden')
		.parent().toggleClass('btn-toolbar')
	});

	/**
	//or use slimScroll plugin
	$('.slim-scrollable').each(function () {
		var $this = $(this);
		$this.slimScroll({
			height: $this.data('height') || 100,
			railVisible:true
		});
	});
	*/
	

	/**$('.widget-box').on('setting.ace.widget' , function(e) {
		e.preventDefault();
	});*/

	/**
	$('.widget-box').on('show.ace.widget', function(e) {
		//e.preventDefault();
		//this = the widget-box
	});
	$('.widget-box').on('reload.ace.widget', function(e) {
		//this = the widget-box
	});
	*/

	//$('#my-widget-box').widget_box('hide');

	

	// widget boxes
	// widget box drag & drop example
    $('.widget-container-col').sortable({
        connectWith: '.widget-container-col',
		items:'> .widget-box',
		handle: ace.vars['touch'] ? '.widget-title' : false,
		//cancel: '.fullscreen',
		opacity:0.8,
		revert:true,
		forceHelperSize:true,
		placeholder: 'widget-placeholder',
		forcePlaceholderSize:true,
		tolerance:'pointer',
		start: function(event, ui) {
			//when an element is moved, it's parent becomes empty with almost zero height.
			//we set a min-height for it to be large enough so that later we can easily drop elements back onto it
			ui.item.parent().css({'min-height':ui.item.height()})
			//ui.sender.css({'min-height':ui.item.height() , 'background-color' : '#F5F5F5'})
		},
		update: function(event, ui) {
			ui.item.parent({'min-height':''})
			//p.style.removeProperty('background-color');

			
			//save widget positions
			var widget_order = {}
			$('.widget-container-col').each(function() {
				var container_id = $(this).attr('id');
				widget_order[container_id] = []
				
				
				$(this).find('> .widget-box').each(function() {
					var widget_id = $(this).attr('id');
					widget_order[container_id].push(widget_id);
					//now we know each container contains which widgets
				});
				
			});
			
			ace.data.set('demo', 'widget-order', widget_order, null, true);
			sort_up();
		}
    });
	
	
	///////////////////////

	//when a widget is shown/hidden/closed, we save its state for later retrieval
	$(document).on('shown.ace.widget hidden.ace.widget closed.ace.widget', '.widget-box', function(event) {
		var widgets = ace.data.get('demo', 'widget-state', true);
		if(widgets == null) widgets = {}

		var id = $(this).attr('id');
		widgets[id] = event.type;
		ace.data.set('demo', 'widget-state', widgets, null, true);
	});


	(function() {
		//restore widget order
		var container_list = ace.data.get('demo', 'widget-order', true);
		if(container_list) {
			for(var container_id in container_list) if(container_list.hasOwnProperty(container_id)) {

				var widgets_inside_container = container_list[container_id];
				if(widgets_inside_container.length == 0) continue;
				
				for(var i = 0; i < widgets_inside_container.length; i++) {
					var widget = widgets_inside_container[i];
					$('#'+widget).appendTo('#'+container_id);
				}

			}
		}
		
		
		//restore widget state
		var widgets = ace.data.get('demo', 'widget-state', true);
		if(widgets != null) {
			for(var id in widgets) if(widgets.hasOwnProperty(id)) {
				var state = widgets[id];
				var widget = $('#'+id);
				if
				(
					(state == 'shown' && widget.hasClass('collapsed'))
					||
					(state == 'hidden' && !widget.hasClass('collapsed'))
				) 
				{
					widget.widget_box('toggleFast');
				}
				else if(state == 'closed') {
					widget.widget_box('closeFast');
				}
			}
		}
		
		
		$('#main-widget-container').removeClass('invisible');
		
		
		//reset saved positions and states
		$('#reset-widgets').on('click', function() {
			ace.data.remove('demo', 'widget-state');
			ace.data.remove('demo', 'widget-order');
			document.location.reload();

		});
	
		
	})();
	
	function start_widget(){
		$('#simple-colorpicker-1').ace_colorpicker({pull_right:true}).on('change', function(){
			var color_class = $(this).find('option:selected').data('class');
			var new_class = 'widget-box';
			if(color_class != 'default')  new_class += ' widget-color-'+color_class;
			$(this).closest('.widget-box').attr('class', new_class);
		});


		// scrollables
		$('.scrollable').each(function () {
			var $this = $(this);
			$(this).ace_scroll({
				size: $this.attr('data-size') || 100,
				//styleClass: 'scroll-left scroll-margin scroll-thin scroll-dark scroll-light no-track scroll-visible'
			});
		});
		$('.scrollable-horizontal').each(function () {
			var $this = $(this);
			$(this).ace_scroll(
			  {
				horizontal: true,
				styleClass: 'scroll-top',//show the scrollbars on top(default is bottom)
				size: $this.attr('data-size') || 500,
				mouseWheelLock: true
			  }
			).css({'padding-top': 12});
		});
		
		$(window).on('resize.scroll_reset', function() {
			$('.scrollable-horizontal').ace_scroll('reset');
		});

		
		$('.widget-container-col').sortable({
	        connectWith: '.widget-container-col',
	        items:'> .widget-box',
	        handle: ace.vars['touch'] ? '.widget-title' : false,
	        //cancel: '.fullscreen',
			opacity:0.8,
			revert:true,
			forceHelperSize:true,
			placeholder: 'widget-placeholder',
			forcePlaceholderSize:true,
			tolerance:'pointer',
			start: function(event, ui) {
				//when an element is moved, it's parent becomes empty with almost zero height.
				//we set a min-height for it to be large enough so that later we can easily drop elements back onto it
				ui.item.parent().css({'min-height':ui.item.height()})
				//ui.sender.css({'min-height':ui.item.height() , 'background-color' : '#F5F5F5'})
			},
			update: function(event, ui) {
				ui.item.parent({'min-height':''})
				//p.style.removeProperty('background-color');

				
				//save widget positions
				var widget_order = {}
				$('.widget-container-col').each(function() {
					var container_id = $(this).attr('id');
					widget_order[container_id] = []
					
					
					$(this).find('> .widget-box').each(function() {
						var widget_id = $(this).attr('id');
						widget_order[container_id].push(widget_id);
						//now we know each container contains which widgets
					});
					
				});
				
				ace.data.set('demo', 'widget-order', widget_order, null, true);
				sort_up();
			} 
	    });

		// widget boxes
		// widget box drag & drop example
	    /* $('.widget-container-col').sortable({
	        
	    });
	    sort_up(); */
	}
/* 
	
}); */
var day_num = 1;
        var chose_day;
        function html_plus(type,id,id_name=''){
            alert("as");
        }
        function del_day(day){
            $("#widget-box-"+day).parent().remove();
            sort_up();
        }

        //删除某项行程
        function html_delete_day(id){
            $("#"+id).remove();
        }
        var page_set = 1;
        var chose_type;
        var hotelList = {};
        var hallList = {};
        var attractionsList = {};
        var attractionsId = 0;
        function search_submit(typeOk){
            if(typeOk){
                if(attractionsId==0){
                    alert("请刷新后再试试");
                    return;
                }
                var type = typeOk;
                var keyword = "";
            }else{
                var type = $("#search_type").val();
                var keyword = $("#search_name").val();
            }
            chose_type = type;
            page_set = 1;
            $("#search_content").show();
            $("#search_content_html").html("");
            $.post("{:U('getList')}",{search_type:type,search_keyword:keyword,p:page_set,id:attractionsId}, function (result) {
                var total = result.info.length;
                if(result.status==1 && total>=1){
                    var html_index = '';
                    for(var i=0;i<total;i++){
                        var info = result.info[i];
                        var html_con='';
                        html_con += '<tr>';
                        if(type==1){
                            attractionsList[info['attractions_id']] = info;
                            html_con += '<td><input class="aids" type="checkbox" name="join_id" val="1" value="'+info['attractions_id']+'"></td>';
                            
                            html_con += '<td>景点</td>';
                            html_con += '<td>'+info['attractions_name']+'</td>';
                            html_con += '<td>'+info['attractions_suggest']+'</td>';
                            $("#type_content").html("时长");
                        }else if(type==5){
                            hotelList[info['hotel_id']] = info;
                            html_con += '<td><input class="aids" type="checkbox" name="join_id" val="2" value="'+info['hotel_id']+'"></td>';
                            html_con += '<td>酒店</td>';
                            html_con += '<td>'+info['hotel_name']+'</td>';
                            html_con += '<td>'+info['hotel_score']+'</td>';
                            $("#type_content").html("评分");
                        }else{
                            hallList[info['hall_id']] = info;
                            html_con += '<td><input class="aids" type="checkbox" name="join_id" val="3" value="'+info['hall_id']+'"></td>';
                            html_con += '<td>餐厅</td>';
                            html_con += '<td>'+info['hall_name']+'</td>';
                            html_con += '<td>'+info['hall_score']+'</td>';
                            $("#type_content").html("评分");
                        }
                        html_con += '</tr>';
                        html_index += html_con;
                        //alert(html_index);/*  */
                        
                    }
                    $("#search_content_html").html(html_index);
                }else{
                    alert(result.info);
                }
            },'json');
            
        }

        function sort_up_check(t,oper){
            var data_tr=$(t).parent().parent(); //获取到触发的tr
                if(oper=="MoveUp"){    //向上移动
                   if($(data_tr).prev().html()==null){ //获取tr的前一个相同等级的元素是否为空
                       alert("已经是最顶部了!");
                       return;
                   }{
                        $(data_tr).insertBefore($(data_tr).prev()); //将本身插入到目标tr的前面 
                   }
                   }else{
                         if($(data_tr).next().html()==null){
                         alert("已经是最低部了!");
                         return;
                     }{
                          $(data_tr).insertAfter($(data_tr).next()); //将本身插入到目标tr的后面 
                     }
                   }
        }
        function route_form(){
            $.post("{:U('check_attr')}",$("#route_form").serialize(), function (result) {
                //var total = result.info.length;
                if(result.status==1){
                    if(result.info){
                        bootbox.confirm({
                            title: "系统提示",
                            message: result.info,
                            callback: function (result) {
                                if (result) {
                                    $.post("{:U('update')}",$("#route_form").serialize(), function (result) {
                                        //var total = result.info.length;
                                        if(result.status==1){
                                            bootbox.alert({
                                                buttons: {
                                                    ok: {
                                                        label: '确定',
                                                        className: 'btn-danger'
                                                    }
                                                },
                                                message: '恭喜，添加成功！',
                                                callback: function () {
                                                    window.location.href=result.url;
                                                },
                                                title: "友情提示",
                                            });
                                            
                                        }else{
                                            bootbox.dialog({
                                                message: result.info,
                                                buttons: {
                                                    "success": {
                                                        "label": "确定",
                                                        "className": "btn-danger"
                                                    }
                                                }
                                            });
                                        }
                                    },'json');
                                } else {
                                    return true;
                                }
                            },
                            buttons: {
                                "cancel": {"label": "添加"},
                                "confirm": {
                                    "label": "提交",
                                    "className": "btn-danger"
                                }
                            }
                        });
                    }else{
                        $.post("{:U('update')}",$("#route_form").serialize(), function (result) {
                            //var total = result.info.length;
                            if(result.status==1){
                                bootbox.alert({
                                    buttons: {
                                        ok: {
                                            label: '确定',
                                            className: 'btn-danger'
                                        }
                                    },
                                    message: '恭喜，添加成功！',
                                    callback: function () {
                                        window.location.href=result.url;
                                    },
                                    title: "友情提示",
                                });
                                
                            }else{
                                bootbox.dialog({
                                    message: result.info,
                                    buttons: {
                                        "success": {
                                            "label": "确定",
                                            "className": "btn-danger"
                                        }
                                    }
                                });
                            }
                        },'json');
                    }
                }else{
                    bootbox.dialog({
                        message: result.info,
                        buttons: {
                            "success": {
                                "label": "确定",
                                "className": "btn-danger"
                            }
                        }
                    });
                }
            },'json');
        }
</script>
</body>
</html>