<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<include file="Public/footerjs"/>
<script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
        function sort_up(){
            var start_num = 1;
            $("h4").each(function(){  
                $(this).html("第"+start_num+"日");  
                start_num++;
            });  
        }
        function html_plus(type,id,id_name=''){
            alert(type);
        }
    </script>
<div class="main-container" id="main-container">
    

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs" />

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">

                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="cf">
                                <a class="btn btn-info" onclick="html_plus('day',0)" value="">新增行程</a>
                        </div>
                        <div class="space-4"></div>
									
						<form id="route_form" class="form-horizontal">
							<input type="hidden" name="route_id" id="route_id" value="{$info.route_id}">
							<div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name"> 路线名称 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="route_name" id="route_name" placeholder="路线名称"
                                           class="col-xs-10 col-sm-5" value="{$info.route_name}">
                                    <span class="help-inline col-xs-10 col-sm-5">
												<span class="middle">路线名称，不能为空。</span>
											</span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 是否上线 </label>
                                <div class="control-label no-padding-left col-sm-1">
                                    <label>
                                        <input name="route_status" id="route_status"
                                        <if condition="$info.route_status eq 1">checked="checked"</if>
                                        value="1" class="ace ace-switch ace-switch-2" type="checkbox" />
                                        <span class="lbl"></span>
                                    </label>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
										</span>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
								<label class="col-sm-1 control-label no-padding-right">景点分类：</label>
								<div class="col-sm-9 error-tips">
								<volist name="category" id="val">
									<label>
										<input type="checkbox" id="cid_id" name="cid_id[]" value="{$val.cid_id}" 
									<if condition="$infoCid[$val['cid_id']] eq 1">checked="checked"</if> class="ace" />
										<span class="lbl"> {$val.cid_name}</span>
									</label>
								</volist>
								</div>
							</div>
							<div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    路线简介 </label>
                                <div class="col-sm-10">
                                        <input type="text" name="route_intro" id="route_intro" placeholder="路线简介"
                                           class="col-xs-10 col-sm-5" value="{$info.route_intro}">
                                </div>
                            </div>
							<div class="space-6"></div>
							<div id="form_all" class="space-6"></div>
							<div>
			                    <button class="btn btn-info submit" onclick="route_form()" type="button">
			                        <i class="icon-ok bigger-110"></i>
			                        提交
			                    </button>
	                    	</div>
	                    	
						</form>
						
                </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <include file="Public/footer"/>

</div><!-- /.main-container -->


<!-- inline scripts related to this page -->
</body>
</html>