<include file="Public/head"/>

<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>
            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="cf">
                            <form class="form-inline" action="" method="get">
                                <label class="inline">日期：</label>
                                <select onchange="select_change()" id="day_status" name="day_status" class="form-control">
                                    <option value="0" <if condition="I('day_status') eq 0">selected</if>>昨天</option>
                                    <option value="1" <if condition="I('day_status') eq 1">selected</if> >本月</option>
									<option value="2" <if condition="I('day_status') eq 2">selected</if> >上月</option>
									<option value="4" <if condition="I('day_status') eq 4">selected</if> >选择时间</option>

                                </select>
                                <div id="select_xz">
                                <input type="text" id="start_day" name="start_day" placeholder="开始时间" value="{:I('start_day')}" class="form-control">
                                <input type="text" id="end_day" name="end_day" placeholder="结束时间" value="{:I('end_day')}" class="form-control">
                                </div>


                                <button type="submit" class="btn btn-purple btn-sm">
                                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                    搜索
                                </button>
                            </form>
                        </div>
                        <div class="space-4"></div>
                        <form id="form">
                            <table class="table table-striped table-bordered">
                                <tbody>
                                    <tr height="50px">
                                        <td class="col-xs-1">订单量</td>
                                        <td class="col-xs-5">{$order_num}</td>
                                        <td class="col-xs-1">已核金额</td>
                                        <td class="col-xs-5">{$order_amount}</td>
                                    </tr>
                                    <tr>
                                        <td colspan=2>成交的订单量(付过款的就算)</td>
                                        <td colspan=2>所选时间段内的已经核算过的金额(必须核算过的才算)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script type="text/javascript">
function select_change(){
	var t = $("#day_status").val();
	if(t==4){
		$("#select_xz").show();
		$("#select_xz").addClass("inline");
	}else{
		$("#select_xz").removeClass("inline");
		$("#select_xz").hide();
	}
}
select_change();

jQuery(function ($) {
    $('#start_day').datepicker({
        format: 'yyyy-mm-dd',
        weekStart: 1,
        autoclose: true,
        todayBtn: 'linked',
        language: 'cn'
    });
    $('#end_day').datepicker({
        format: 'yyyy-mm-dd',
        weekStart: 1,
        autoclose: true,
        todayBtn: 'linked',
        language: 'cn'
    });
});
</script>
</body>
</html>
