<include file="Public/head"/>

<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>
            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="space-4"></div>
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>用户</th>
                                    <th>手机号</th>
                                    <th>发布时间</th>
                                    <th>问题</th>
                                    <th>图片</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="list" id="val">
                                    <tr>
                                        <td>{$val['suggest_id']}</td>
                                        <td>{$val['user_nickname']}</td>
                                        <td>{$val['suggest_phone']}</td>
                                        <td>{$val['suggest_created_at']|date="Y-m-d H:i:s",###}</td>
                                        <td>{$val['suggest_comment']}</td>
                                        <td><volist name="val['img']" id="img"><a style="margin-left:5px" href="{$img}" target="_blank"><img width="100px" height="100px" src="{$img}" /></a></volist></td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        {$page}
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
</body>
</html>
