<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<style>
.modal.in .modal-dialog{width:100%}
.modal-content{height:100%}
</style>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
        var mymodal={};
        mymodal['width'] = '100%';
        function dingwei(){
        	bootbox.dialog({
        		className: "mymodal",
                message: '<iframe scrolling="no" frameborder="0" border="0" width=100% height=500px onload="this.height=500px;" src="{:U('Address/index')}"></iframe>',
                buttons: {
                    "success": {
                        "label": "确定",
                        "className": "btn-danger"
                    }
                }
            });
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form" id="form" method="post" action="{:U('update')}">
                            <input name="hotel_id" id="hotel_id" value="{$info.hotel_id}" type="hidden">
                            
                            
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name"> 酒店名称<font color='red'>*</font> </label>
                                <div class="col-sm-9">
                                    <input type="text" name="hotel_name" id="hotel_name" placeholder="酒店名称"
                                           class="col-xs-10 col-sm-5" value="{$info.hotel_name}">
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">酒店名称，不能为空。(20个中文)</span>
											</span>
                                </div>
                            </div>
							<div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 是否上架<font color='red'>*</font> </label>
                                <div class="control-label no-padding-left col-sm-1">
                                    <label>
                                        <input name="hotel_status" id="hotel_status"
                                        <if condition="$info.hotel_status eq 1">checked="checked"</if>
                                        value="1" class="ace ace-switch ace-switch-2" type="checkbox" />
                                        <span class="lbl"></span>
                                    </label>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
										</span>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name"> 开放时间<font color='red'>*</font> </label>
                                <div class="col-sm-9">
                                    <input type="text" name="hotel_open_time" id="hotel_open_time" placeholder="开放时间"
                                           class="col-xs-10 col-sm-5" value="{$info.hotel_open_time}">
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">酒店开放的时间,推荐的时节等。</span>
											</span>
                                </div>
                            </div>
                            
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name"> 酒店电话<font color='red'>*</font> </label>
                                <div class="col-sm-9">
                                    <input type="text" name="hotel_phone" id="hotel_phone" placeholder="酒店电话"
                                           class="col-xs-10 col-sm-5" value="{$info.hotel_phone}">
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">酒店电话。</span>
									</span>
                                </div>
                            </div>
                            
                            
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name"> 酒店地址<font color='red'>*</font> </label>
                                <div class="col-sm-9">
                                	<div class="col-xs-12" style="padding-left:0px">
	                                    <input type="text" name="hotel_address" id="amap_address" placeholder="酒店详细地址"
	                                           class="col-xs-12 col-sm-5" value="{$info.hotel_address}">
	                                    <div style="display:none"><input type="text" name="hotel_lon" id="amap_lon" value="{$info.hotel_lon}">
	                                    <input type="text" name="hotel_lat" id="amap_lat" value="{$info.hotel_lat}">
	                                    </div>
	                                    <span class="help-inline col-xs-12 col-sm-7">
													<span class="middle">酒店详细地址。</span>
									    </span>
								    </div>
								    <div class="col-xs-12" style="padding-top:10px">
									    <span class="help-inline col-xs-12 col-sm-6">
									    	<a class="btn btn-info"  target="_blank" href="http://bgc.amap.com/">去认领</a>高德地图搜不到
									    </span>
									    <span class="help-inline col-xs-12 col-sm-6">
									    	<a class="btn btn-info" onclick="dingwei()" value="">定位</a>高德地图精准定位
									    </span>
								    </div>
                                </div>
                                
                            </div>
                            
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="pid"> 所属目的地<font color='red'>*</font> </label>
                                <div class="col-sm-9">
                                    <select id="destination_id" name="destination_id" class="col-xs-10 col-sm-5">
                                        <option value="0">选择目的地</option>
                                        <volist name="destination" id="val">
                                        <option value="{$val.destination_id}"<if condition="$val['destination_id'] eq $info['destination_id']"> selected</if>>{$val.destination_name}</option>
                                        </volist>
                                    </select>

                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">选择所属目的地。</span>
											</span>
                                </div>
                            </div>
                            
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> 酒店图集<font color='red'>*</font> </label>
                                <div class="col-sm-9">
                                    <div class="col-xs-10 col-sm-10">{:BatchImage("img",100,100,$info['img'])}</div>
                                    
                                </div>

                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    酒店介绍<font color='red'>*</font> </label>
                                <div class="col-sm-4">
                                        <textarea name="hotel_intro" id="hotel_intro"
                                                  style="width:100%;height:500px;visibility:hidden;">{$info['hotel_intro']}</textarea>
                                </div>
                            </div>
                            <div class="space-4"></div>
			                

                <div class="col-md-offset-2 col-md-9">
                    <button class="btn btn-info submit" type="button">
                        <i class="icon-ok bigger-110"></i>
                        提交
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="icon-undo bigger-110"></i>
                        重置
                    </button>
                </div>
                </form>
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>
</div><!-- /.main-content -->
<include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $(function () {
        var editor = KindEditor.create('textarea[name="hotel_intro"]', {
            uploadJson: '__PUBLIC__/kindeditor/php/upload_json.php',
            fileManagerJson: '__PUBLIC__/kindeditor/php/file_manager_json.php',
            allowFileManager: true,
            afterBlur: function () {
                this.sync();
            }
        });
        $("#type").change(function () {

            if ($(this).val() == 1) {
                $("#type1").removeClass('hidden');
                $("#type2").addClass('hidden');
            } else if ($(this).val() == 2) {
                $("#type2").removeClass('hidden');
                $("#type1").addClass('hidden');
            } else {
                $("#type1").addClass('hidden');
                $("#type2").addClass('hidden');
            }
        });
        $(".btn.btn-info.submit").click(function () {
            var name = $("#name").val();
            if (name == '') {
                bootbox.dialog({
                    message: "抱歉，分类名称不能为空。",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return false;
            }
            $("#form").submit();

        })
    })
</script>
</body>
</html>
