<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
        
        function change_type(){
        	var adv_type = $("#adv_type").val();
        	if(adv_type==1){
        		$("#adv_url_html").show();
        		$("#adv_content_html").hide();
        	}else{
        		$("#adv_url_html").hide();
        		$("#adv_content_html").show();
        	}
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" id="form" method="post" action="{:U('update')}">
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 是否开启 </label>
                                <div class="control-label no-padding-left col-sm-1">
                                    <label>
                                        <input name="red_status" id="red_status"
                                        <if condition="$info.red_status eq 1">checked="checked"</if>
                                        value="1" class="ace ace-switch ace-switch-2" type="checkbox" />
                                        <span class="lbl"></span>
                                    </label>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
										</span>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    红包范围 </label>
                                <div class="col-sm-2">
                                    <input type="number" name="red_start_num" id="red_start_num" placeholder="最小金额(必须大于1)"
                                           class="col-xs-12 col-sm-12" value="{$info.red_start_num}">
                                </div><div class="col-sm-1">
                                   ……
                                </div><div class="col-sm-2">
                                    <input type="number" name="red_end_num" id="red_end_num" placeholder="最大金额"
                                           class="col-xs-12 col-sm-12" value="{$info.red_end_num}">
                                </div><div class="col-sm-3">请输入整数，开始金额必须大于1
                                </div>
                            </div>

                            <div class="col-md-offset-2 col-md-9">
                                <button class="btn btn-info submit" type="button">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $(function () {
        change_type();
    	var editor = KindEditor.create('textarea[name="adv_content"]', {
    		width:"100%",
            uploadJson: '__PUBLIC__/kindeditor/php/upload_json.php',
            fileManagerJson: '__PUBLIC__/kindeditor/php/file_manager_json.php',
            allowFileManager: true,
            afterBlur: function () {
                this.sync();
            }
        });
    	
        $(".btn-info.submit").click(function () {
            var webname = $("#webname").val();
            var url = $("#url").val();
            if (webname == 0) {
                bootbox.dialog({
                    title: '友情提示：',
                    message: "标题必须选择。",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return;
            }
            if (url == '') {
                bootbox.dialog({
                    title: '友情提示：',
                    message: "链接地址必须填写。",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return;
            }
            $("#form").submit();
        });
    });

</script>
</body>
</html>
