<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
        var mymodal={};
        mymodal['width'] = '100%';
        function dingwei(){
        	bootbox.dialog({
        		className: "mymodal",
                message: '<iframe scrolling="no" frameborder="0" border="0" width=100% height=500px onload="this.height=500px;" src="{:U('Address/index')}"></iframe>',
                buttons: {
                    "success": {
                        "label": "确定",
                        "className": "btn-danger"
                    }
                }
            });
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form" action="{:U('update_shop')}" method="post">
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 商户名 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="shop_title" class="rcol-xs-10 col-sm-5"
                                           value="{$shop.shop_title}">
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>
                            
                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-6"> 电话号码 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="shop_mobile" id="shop_mobile" placeholder="电话号码"
                                           class="col-xs-10 col-sm-5" value="{$shop['shop_mobile']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name"> 地址 </label>
                                <div class="col-sm-9">
                                	<div class="col-xs-12" style="padding-left:0px">
	                                    <input type="text" name="shop_address" id="amap_address" placeholder="详细地址"
	                                           class="col-xs-12 col-sm-5" value="{$shop.shop_address}">
	                                    
	                                    <div style="display:none"><input type="text" name="shop_lon" id="amap_lon" value="{$shop.shop_lon}">
	                                    <input type="text" name="shop_lat" id="amap_lat" value="{$shop.shop_lat}"></div>
	                                    <span class="help-inline col-xs-12 col-sm-7">
													<span class="middle">详细地址。</span>
									    </span>
								    </div>
								    <div class="col-xs-12" style="padding-top:10px">
									    <span class="help-inline col-xs-12 col-sm-6">
									    	<a class="btn btn-info" value="">去认领</a>高德地图搜不到
									    </span>
									    <span class="help-inline col-xs-12 col-sm-6">
									    	<a class="btn btn-info" onclick="dingwei()" value="">定位</a>高德地图精准定位
									    </span>
								    </div>
                                </div>
                                
                            </div>

                            <div class="space-4"></div>

                            <div class="col-md-offset-2 col-md-9">
                                <button class="btn btn-info" type="submit">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script src="__PUBLIC__/admin/js/date-time/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $('#birthday').datepicker({
            format: 'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true,
            todayBtn: 'linked',
            language: 'cn'
        });
    });

</script>
</body>
</html>
